button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


textarea {
    overflow: auto; 
    vertical-align: top; 
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}
html,
button,
input,
select,
textarea {
    color: #222;
}
textarea {
    resize: vertical;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}


fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}